body{
  font-family: 'Barlow Condensed', sans-serif;
}

.search-bar{
  margin: 20px;
  text-align: center;
}



.search-bar input{
  width: 75%;
}

.video-item img{
  max-width: 64px;
}

.video-detail{
  width: 100%; /* you have to have a size or this method doesn't work */
  height: 400px; /* think about making these max-width instead - might give you some more responsiveness */

   /* positions out of the flow, but according to the nearest parent */
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto;
  
}

.list-group-item{
  cursor: pointer;
  
}

.list-group-item:hover{
  background-color: #eee;
}

.bg{
  display: grid;
  height: 100vh;
  grid-template: 
  "head"
  "main" 
  "button"
  "footer"
  
  ;
}

header{
  grid-area: head;
}

main{
  grid-area: main;
  
}

.btn-next-video{
  margin-top: 10px;
  grid-area: button;
  display: flex;
  justify-content: center;
}

footer{
  
  display: flex;
  
  grid-area: footer;
}